body{
		background: linear-gradient(to bottom, #0a799d 0%, #ff99cc 100%);
		height: 100vh;
		}
 #centered{
 	color: white;
	margin: 20px 0 40px 0;
 }
.card-1{
	background: #EADE5C;
}
.card-2{
	background: #e74c3c;
}
.card-3{
	background: #7CEB23;
}
.card-4{
	background: #1E7CF1;

}
 label span.color{
	color: white;
 }